# This file configures the build at https://circleci.com/gh/ngrx/platform

# Opt-in to newer CircleCI system
# Complete documentation is at https://circleci.com/docs/2.0/
version: 2

# Note: YAML anchors allow an object to be re-used, reducing duplication.
# The ampersand declares an alias for an object, then later the `<<: *name`
# syntax dereferences it.
# See https://blog.daemonl.com/2016/02/yaml.html
# To validate changes, use an online parser, eg.
# https://yaml-online-parser.appspot.com/
var_1: &cache_key yarn-cache-{{ checksum "yarn.lock" }}-0.8.2
var_2: &run_in_node
  docker:
    - image: circleci/node:10.12

jobs:
  install:
    <<: *run_in_node
    steps:
      - checkout
      - restore_cache:
          key: *cache_key
      - run: yarn --frozen-lockfile --non-interactive
      - save_cache:
          key: *cache_key
          paths:
            - ~/.cache/yarn
            - node_modules

  test_and_build:
    <<: *run_in_node
    steps:
      - checkout
      - restore_cache:
          key: *cache_key

      # Build and Test
      - run: yarn test
      - run: yarn build

workflows:
  version: 2
  build-test:
    jobs:
      - install
      - test_and_build:
          requires:
            - install
